@import "tailwindcss";

@keyframes shake {
  0%, 100% { transform: translateX(0); }
  10%, 30%, 50%, 70%, 90% { transform: translateX(-10px); }
  20%, 40%, 60%, 80% { transform: translateX(10px); }
}

@keyframes flash {
  0%, 100% { background-color: transparent; }
  50% { background-color: rgba(255, 255, 255, 0.8); }
}

@theme {
  --animate-shake: shake 0.5s cubic-bezier(.36,.07,.19,.97) both;
  --animate-flash: flash 0.5s ease-in-out;
}
